.ALL{
  display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}

.contain{
		text-align: center;
    margin: 10% auto 10%;
    width: 40%;
    background-color: #40CCEB;
    border-radius: 20px;
    padding: 2%;
}

form{
  padding-bottom: 2%;
}

main{
  width: 60%;
  margin: auto;
}

.envoie{
  height: 50px;
  width: 90%;
  font-size: 20px;
  border-radius: 6px;
  background-color: #D30429;
  color: #FAFF00;
  border-color: transparent;
}

button{
  background-color: transparent;
  width: 100%;
  border-color: transparent;
}

.recherche input  {
   background-color: silver;
}

.recherche div{
  padding: 0.3%;
}

.recherche{
  display: flex;
	flex-wrap: row;
	justify-content: center;
  border-color: black;
}

.recherche :hover {
     background-color: red;
     border-color: #FAFF00;
}
.remove{
  height: 50px;
  width: auto;
  font-size: 20px;
  border-radius: 6px;
  background-color: #D30429;
  color: #FAFF00;
  border-color: transparent;
	margin: 10%;
}
