.p {
  text-align: center;
  font-size: 20px;
}

.foote a {
  color: white;
}
.foote li{
  list-style: none;
  text-align: center;
}


.facebook{
  font-size: 50px;
  color: #F33C94;
  padding: 20px;
}

.facebook:hover{
  text-decoration: none;
  background:   -webkit-linear-gradient(#00F0FF,#EB00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row{
  margin: auto;
  padding: 10px;
}
.back{
  background-color: #1D4CF1;
  display: flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.haut{
  background-color: #516FD7;
  display: flex;
	flex-wrap: row;
	justify-content:  space-evenly;
  padding: 1%;
}

.foot {
  padding: 20px;
  margin: auto;
}

.imgf{
  width: 50px;
  padding-bottom: 25px;
}

.instagram{
  padding: 10px;

}

.foot a {
    color: white;
}


footer a:hover{
  background:   -webkit-linear-gradient(#00F0FF,#EB00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
