@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
  font-family: 'Viga', sans-serif;
}

.up:hover{
  text-decoration: none;
  background:   -webkit-linear-gradient(#00F0FF,#EB00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.up{
  color: black;
  font-weight: 700;
  font-size: 120%;
  padding: 1%;
  text-decoration: none;

}

h2{
  align-items: center;
  text-align: center;
}
a{
  text-decoration: none;
}


.containe{
  display: flex;
	flex-wrap: row;
	justify-content: space-between;
}


.right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
}

body{
  margin: 0;
}
