.ALL{
  display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}

.contain{
		text-align: center;
    margin: 2% auto 14px;
    width: 30%;
    background-color: #40CCEB;
    border-radius: 20px;
    padding: 2%;
}


main{
  width: 60%;
  margin: auto;
}

.recherche input  {
   background-color: silver;
}

.recherche div{
  padding: 0.3%;
}

.recherche{
  display: flex;
	flex-wrap: row;
	justify-content: center;
  border-color: black;
}

.recherche :hover {
     background-color: red;
     border-color: #FAFF00;
}
